@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: pan-y;
  touch-action: none;
  overflow: hidden;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  height: 100%;
  margin: 0;
  overflow: auto;
}

.scrollable-element {
  overflow-y: scroll;
  height: 32rem;
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.animation-touch-coin {
  animation: moveUpAndFade 0.6s forwards ease-out;
}
@keyframes moveUpAndFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}

@keyframes fadeUpAndOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
