@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  touch-action: pan-y;
  touch-action: none;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  height: 100%;
  margin: 0;
  overflow: auto;
}

.scrollable-element {
  overflow-y: scroll;
  height: 32rem;
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable::-webkit-scrollbar {
  display: none; /* WebKit */
}
