@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supercell Magic";
  src: url("/fonts/supercell-magic/Supercell-Magic.eot");
  src: local("Supercell Magic"), local("Supercell-Magic"),
    url("/fonts/supercell-magic/Supercell-Magic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/supercell-magic/Supercell-Magic.woff2") format("woff2"),
    url("/fonts/supercell-magic/Supercell-Magic.woff") format("woff"),
    url("/fonts/supercell-magic/Supercell-Magic.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Supercell Magic";
  touch-action: manipulation;
}

@keyframes fadeUpAndOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
